body{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
.logo{
    width: 200px;
}
.table th{
	text-transform: capitalize !important;
	font-size: 13px;
	font-weight: blod;
}				
.notification{
	padding:12px;
	height:80px;

}
li{
	list-style: none;
}
.fixed{
	clear:both;
	top:500px;
	position: fixed;
}
.table .thead-dark th {
    color: #fff;
	background-color: #47a99c;
	border:none;
}
/* .active{
	background:#47a99c;
	color:#fff;
	border-radius:2px;
	padding:0px;	
} */
.navbar-nav ul li{
	float:right;
}
.nav-link{
	padding:1px;
}
.bg-clr{
	background-color: #47a99c;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #47a99c;
	margin:5px;
	/* text-align: center; */
	border-radius: 5px;
}
a {
	color: #00B7FF;
  }
.navbar-light .navbar-nav .nav-link:hover {
	
	background-color: #47a99c;
	color: #fff;
}
a .nav-link{
	list-style: none;
	text-align: left;
	font-size: 16px;
	color:#47a99c;
	margin: 0px;
    padding: 8px;
}
.green{
	margin:0px;
	justify-content:center;
	background-color:#7ccf7c;;
	color:#000;
	width: 150px;
	max-height: 73px;
	font-size:10px;
	font-weight:bold;
	padding:4px 7px;
	border-radius:7px;
	border-right:4px solid #00c000;
	box-shadow: 0px 2px 7px -4px #000
}
.yellow{
	margin:0px;
	justify-content:center;
	background-color: #f3df6c;
	color:#000;
	font-size:10px;
	font-weight:bold;
	border-radius:7px;
	width: 150px;
	max-height: 73px;
	padding:4px 7px;
	border-right:4px solid #f3cf00;
	box-shadow: 0px 2px 7px -4px #000
}
.green:hover{
	box-shadow:none;
	cursor: pointer;
	transition:all linear 0.1s;
}
.yellow:hover{
	box-shadow:none;
	cursor: pointer;
	transition:all linear 0.1s;
}
.form-c{
	margin:20px auto;
	background:#9999994a;
	padding:30px;
	height: auto;
	box-shadow: 0px 12px 13px -6px #999;
}
label{
	color:#000;
	font-size: 25px;
}
.topnav-right{
	float:right!important;
}